/* Import Externos */
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,400;0,600;1,400;1,600&display=swap");
/* Import Internos */
*,
*:before,
*:after {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

html {
  font-family: 'Open Sans', sans-serif;
  font-size: 62.5%; }

h2 {
  font-size: 4em;
  color: crimson;
  text-transform: uppercase; }

header nav {
  display: flex;
  flex-direction: row;
  justify-content: space-arround;
  align-items: center; }
  header nav ul {
    display: flex;
    flex-direction: row;
    justify-content: space-arround;
    align-items: center; }
